<div class="container">
    <div class="row">

        <div class="col-lg-12 my-header">
            <h1>New Quote</h1>
            <p>Please complete all fields below.</p>
        </div>

    </div>


    <div class="row">

        <div class="col-lg-12">
            <form name="vm.form">

                <!-- PANEL FOR Client -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Client Details</h3>
                    </div>

                    <div class="panel-body">

                        <!--Address-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{ 'has-error': vm.form.clientAddress.$invalid && vm.form.clientAddress.$dirty }">
                                    <label for="clientAddress" class="control-label">Address <span class="required">*</span></label>
                                    <input id="clientAddress" name="clientAddress" type="text"  class="form-control" placeholder="" ng-model="vm.quote.clientAddress" required>

                                    <div ng-messages="vm.form.clientAddress.$error" ng-if='vm.form.clientAddress.$dirty' class="error-messages" role="alert">
                                        <div ng-message="required" class="error-message">This field is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Name-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error': vm.form.clientName.$invalid && vm.form.clientName.$dirty }">                        
                                    <label for="clientName" class="control-label">Name <span class="required">*</span></label>
                                    <input id="clientName" name="clientName" type="text"  class="form-control" placeholder="" ng-model="vm.quote.clientName" required>

                                    <div ng-messages="vm.form.clientName.$error" ng-if='vm.form.clientName.$dirty' class="error-messages" role="alert">
                                        <div ng-message="required" class="error-message">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error': vm.form.clientContact.$invalid && vm.form.clientContact.$dirty }">
                                    <label for="clientContact" class="control-label">Contact <span class="required">*</span></label>
                                    <input id="clientContact" name="clientContact" type="text"  class="form-control" placeholder="" ng-model="vm.quote.clientContact" required>

                                    <div ng-messages="vm.form.clientContact.$error" ng-if='vm.form.clientContact.$dirty' class="error-messages" role="alert">
                                        <div ng-message="required" class="error-message">This field is required</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Phone-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error': vm.form.clientCell.$invalid && vm.form.clientCell.$dirty }">                        
                                    <label for="clientCell" class="control-label">Cell <span class="required">*</span></label>
                                    <input id="clientCell" name="clientCell" type="text"  class="form-control" placeholder="" ng-model="vm.quote.clientCell" required>

                                    <div ng-messages="vm.form.clientCell.$error" ng-if='vm.form.clientCell.$dirty' class="error-messages" role="alert">
                                        <div ng-message="required" class="error-message">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error': vm.form.clientFax.$invalid && vm.form.clientFax.$dirty }">
                                    <label for="clientFax" class="control-label">Fax <span class="required">*</span></label>
                                    <input id="clientFax" name="clientFax" type="text"  class="form-control" placeholder="" ng-model="vm.quote.clientFax" required>

                                    <div ng-messages="vm.form.clientFax.$error" ng-if='vm.form.clientFax.$dirty' class="error-messages" role="alert">
                                        <div ng-message="required" class="error-message">This field is required</div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!--Detail-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="clientDetails" class="control-label">Details</label>
                                    <input id="clientDetails" name="clientDetails" type="text"  class="form-control" placeholder="" ng-model="vm.quote.clientDetails">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>



                <!-- PANEL FOR PRODUCTS -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Products</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row" style="padding-bottom: 5px;">
                            <div class="col-md-12">
                                <button ng-click="vm.add()" class="btn btn-success">Add Item</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="quote-table">
                                    <thead>
                                        <tr>
                                            <th>WINDOW</th>
                                            <th>SIZE (BxH)</th>
                                            <th style="width:50px;">QTY</th>
                                            <th>DESCRIPTION</th>
                                            <th style="width:120px;">UNIT PRICE</th>
                                            <th style="width:120px;">TOTAL PRICE</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="item in vm.quote.items">
                                            <td><input name="name" id="name" type="text" class="form-control" ng-model="item.name"/></td>
                                            <td><input name="size" id="size" type="text" class="form-control" ng-model="item.size"/></td>
                                            <td><input name="qty" id="qty" type="text" class="form-control" ng-model="item.qty" required smartFloat min="0" max="999"/></td>
                                            <td><input name="description" id="description" type="text" class="form-control" ng-model="item.description"/></td>
                                            <td><input name="unitPrice" id="unitPrice" type="text" class="form-control" ng-model="item.unitPrice"/></td>
                                            <td><input name="totalPrice" id="totalPrice" type="text" class="form-control" ng-model="vm.getItemTotalPrice(item)" ng-disabled="true"/></td>
                                            <td><button ng-click="vm.remove(item)" class="btn btn-danger">Remove</button></td>
                                        </tr>                                        

                                        <tr>
                                            <td colspan="5" style="text-align: right;"><b>SUB TOTAL</b></td>
                                            <td><input name="subTotal" id="subTotal" type="text" class="form-control" ng-model="vm.getSubTotal()" ng-disabled="true"/></td>
                                            <td>&nbsp;</td>
                                        </tr>                                        
                                        <tr>
                                            <td colspan="5" style="text-align: right;"><b>VAT</b></td>
                                            <td><input name="vat" id="vat" type="text" class="form-control" ng-model="vm.getVatTotal()" ng-disabled="true"/></td>
                                            <td>&nbsp;</td>
                                        </tr>                                        
                                        <tr>
                                            <td colspan="5" style="text-align: right;"><b>TOTAL</b></td>
                                            <td><input name="total" id="total" type="text" class="form-control" ng-model="vm.getTotal()" ng-disabled="true"/></td>
                                            <td>&nbsp;</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>



                <!--BUTTONS FOR CONTROL-->
                <div style="margin-top:10px;">
                    <button ng-click="vm.cancel()" class="btn btn-default">Cancel</button>
                    <button ng-click="vm.save()" class="btn btn-primary">Save</button>
                </div>

            </form>


        </div>

    </div>

</div>